.CourseCarousel {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.rec.rec-dot {
  background-color: grey;
}

.remove-class-button {
  cursor: pointer;
}

.video-title {
  color: white;
}
