.LiveChatMessage {
  padding-top: 10px;
  padding-bottom: 2px;
  font-size: 12px;
}

.UserAndText {
  border-radius: 10px;
  /* background-color: #449238; */
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 2;
  float: left;
  padding: 5px;
}

h4.message-owner {
  color: rgb(215, 215, 215);
  margin: 1px;
  text-align: left;
  font-size: 12px;
}

p.message-text {
  text-align: left;
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: 14px;
}

p.message-time {
  text-align: left;
  font-size: 10px;
  color: rgb(215, 215, 215);
  margin: 0;
}
