.LiveChatMessageForm {
  margin-bottom: 14px;
}
input.chat-field {
  background-color: #484848;
  border: 2px solid#34be22;
  color: white;
  overflow: hidden;
  outline: none;
}

input.send-chat-button {
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background-color: #34be22;
  border: 2px solid #34be22;
}
