.LiveChatMessageForm {
  margin-bottom: 0px;
  background-color: #2c2c2c;
  padding: 15px;
  justify-content: center;
}

input.chat-field {
  background-color: #484848;
  border: 2px solid#34be22;
  color: white;
  overflow: hidden;
  outline: none;
  width: 75%;
  font-size: 12px;
  border-radius: 5px;
  color: white;
  height: 24px;
}

input.send-chat-button {
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background-color: #34be22;
  border: 2px solid #34be22;
  font-size: 12px;
  border-radius: 5px;
  width: 20%;
  color: white;
  height: 30px;
}
