.SignInSignUp-Container {
  width: 50%;
  height: 25%;
  position: relative;
  background-color: transparent;
  align-items: center;

  margin: auto;
  border: 5px dashed #ff00b8;
  -webkit-animation: rotate 12s linear infinite;
  font-family: MisterPixel;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.SignInSignUp-WelcomeMsg {
  font-size: 36px;
  margin: 5% auto;
  color: #ff00b8;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
}

.SignInSignUp-Clickables {
  display: flex;
  width: inherit;
  margin: 10px 0;
  flex-direction: row;
  justify-content: space-between;
}

.SignInSignUp-Button {
  font-family: MisterPixel;
  display: inline-block;
  background-color: #ff00b8;
}

.SignInSignUp-Button:hover {
  cursor: pointer;
  color: white;
  opacity: 75%;
}
