.header {
  color: #ff00b8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: MisterPixel;
  margin-left: 10%;
  margin-right: 10%;
}

.header-logo {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 25px;
  cursor: pointer;
}

.header-sign-in-out,
.header-home,
.header-dashboard {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
}

.header-home,
.header-dashboard {
  padding-left: 20px;
}

.header-symbols-auth {
  font-family: MisterPixelTools;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-right: 48px;
}

.header-symbols {
  font-family: MisterPixelTools;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.header-notifications-menu {
  width: 20%;
  height: 50%;
  position: absolute;
  top: 109px;
  background-color: #2c2c2c;

  word-wrap: break-word;
  overflow-y: scroll;
  z-index: 999;
}

.header-notifications-menu-dark {
  border: 3px solid white;
  border-top: 0px;
}

.header-notifications-menu-light {
  border: 3px solid black;
  border-top: 0px;
}

.header-notifications-icon:hover {
  cursor: pointer;
}

.header-notifications-list {
  position: relative;
}

.header-right-side {
  display: flex;
  flex-direction: row;
}

.header-left-side {
  display: flex;
  margin-right: auto;
}

.header-symbols-lightdark-nonauth {
  font-family: MisterPixelTools;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}

.header-symbols-lightdark-auth {
  font-family: MisterPixelTools;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 32px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}
