.header {
  color: #ff00b8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: MisterPixel;
}

.logo {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 25px;
}

.sign-in-out,
.home,
.dashboard {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
}

.home,
.dashboard {
  padding-left: 20px;
}

.symbols-auth {
  font-family: MisterPixelTools;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-right: 48px;
}

.symbols {
  font-family: MisterPixelTools;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.right-side {
  display: flex;
  flex-direction: row;
}

.left-side {
  display: flex;
  margin-right: auto;
}

.symbols-lightdark-nonauth {
  font-family: MisterPixelTools;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.symbols-lightdark-auth {
  font-family: MisterPixelTools;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 32px;
  letter-spacing: 0em;
  text-align: center;
}
