.SignInBox-Container {
  width: 50%;
  height: 400px;
  position: relative;
  background-color: transparent;
  align-items: center;

  margin: auto;
  color: #ff00b8;
  border-bottom: 5px dashed #ff00b8;
  border-left: 5px dashed #ff00b8;
  border-right: 5px dashed #ff00b8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.SignInBox-WelcomeMsg {
  font-family: MisterPixel;
  font-size: 20pt;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 10px auto;
}

.SignInBox-Method {
  font-family: MisterPixel;
  font-size: 16pt;
  text-align: center;
  margin: 8px auto;
}

.SignInBox-InputTable {
  display: table;
  font-size: 16px;
  padding: 10px;
}

.SignInBox-InputRow {
  display: table-row;
}

.SignInBox-InputCell {
  display: table-cell;
}

.SignInBox-SignInButton {
  font-family: MisterPixel;
  display: inline-block;
  background-color: #ff00b8;
  margin: 5px 0 8px 0;
  height: 36px;
  width: 84px;
}

.SignInBox-SignInButton:hover {
  color: white;
  opacity: 75%;
  cursor: pointer;
}
