.Lecture {
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.video {
  margin-right: 20px;
}
.commentLogAndLiveChat {
  flex-grow: 1;
}

.commentLogTitle {
  display: flex;
  background-color: #2c2c2c;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #2ef2ff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 20px;
}

.commentLog {
  border: 2px solid white;
  border-radius: 5px;
}

.liveChatTitle {
  display: flex;
  background-color: #2c2c2c;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #34be22;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 20px;
}

.liveChat {
  border: 2px solid white;
  border-radius: 5px;
}
