.CommentSubmissionForm {
  margin-bottom: 0px;
  background-color: #2c2c2c;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

form.comment-submission-form {
  display: flex;
  width: 80%;
  flex-grow: 1;
}

input.comment-field {
  font-family: MisterPixel;
  background-color: #1f1f1f;
  border: 2px solid #ff00b8;
  outline: none;
  color: white;
  margin-right: 3px;
  flex-grow: 1;
  min-width: 0;
}

input.post-comment-button {
  font-family: MisterPixel;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background-color: #1f1f1f;
  border: 2px solid #ff00b8;
  outline: none;
  color: #ff00b8;
  width: 100px;
}

span.timestamp {
  background-color: #1f1f1f;
  border: 2px solid #ff00b8;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}
