.ReactionBar {
  color: white;
  text-align: center;
  background-color: #383737;
  margin: 0;
}

button.confused-react {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 20px;
}

button.makes-sense-react {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 20px;
}
