.Comment {
  padding-bottom: 2px;
  font-size: 12px;
}

.SubComments {
  padding-top: 2px;
  padding-left: 20px;
  padding-bottom: 2px;
}

form.subcomment-submission-form {
  padding-top: 2px;
}

h4.comment-owner {
  color: white;
  margin: 0;
  text-align: left;
}

input.subcomment-field {
  background-color: #484848;
  border: 2px solid#2ef2ff;
  color: white;
  overflow: hidden;
  outline: none;
  font-size: 12px;
  border-radius: 5px;
}

p.comment-text {
  margin: 0;
  text-align: left;
  color: grey;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

p.time-posted {
  text-align: left;
  color: grey;
  font-size: 10px;
  margin: 0;
}

.video_timestamp {
  color: #2d3edc;
}
