.Comment {
  padding-top: 10px;
  padding-bottom: 2px;
  font-size: 12px;
}

.commentBorder {
  border-radius: 10px;
  background-color: #168088;
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 2;
  float: left;
  padding: 5px;
}
.SubComments {
  padding-top: 2px;
  padding-left: 20px;
  padding-bottom: 2px;
}

form.subcomment-submission-form {
  padding-top: 2px;
}

h4.comment-owner {
  color: rgb(215, 215, 215);
  margin: 0;
  text-align: left;
  margin: 1px;
}

input.subcomment-field {
  background-color: #484848;
  border: 2px solid#2ef2ff;
  color: white;
  overflow: hidden;
  outline: none;
  font-size: 12px;
  border-radius: 5px;
}

p.comment-text {
  margin: 0;
  text-align: left;
  color: rgb(255, 255, 255);
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 14px;
}

p.time-posted {
  text-align: left;
  color: rgb(215, 215, 215);
  font-size: 10px;
  margin: 0;
}

.video_timestamp {
  color: #2d3edc;
}
